In [29]:
import warnings
warnings.filterwarnings('ignore')

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [31]:
file_path = 'World Population by country 2024.csv'
df = pd.read_csv(file_path)

In [32]:
#import libraries

In [33]:
import pandas as pd

In [34]:
import seaborn as sns

In [35]:
df = pd.read_csv("World Population by country 2024.csv")

In [36]:
#see the data that's been imported

In [25]:
df.head(11)

,Country,Population 2024,Population 2023,Area (km2),Density (/km2),Growth Rate,World %,World Rank
0,India,1441719852,1428627663,3M,485.0,0.0092,0.1801,1
1,China,1425178782,1425671352,9.4M,151.0,-0.0003,0.1780,2
2,United States,341814420,339996563,9.1M,37.0,0.0053,0.0427,3
3,Indonesia,279798049,277534122,1.9M,149.0,0.0082,0.0350,4
4,Pakistan,245209815,240485658,770.9K,318.0,0.0196,0.0306,5
5,Nigeria,229152217,223804632,910.8K,252.0,0.0239,0.0286,6
6,Brazil,217637297,216422446,8.4M,26.0,0.0056,0.0272,7
7,Bangladesh,174701211,172954319,130.2K,1342.0,0.0101,0.0218,8
8,Russia,143957079,144444359,16.4M,9.0,-0.0034,0.0180,9
9,Ethiopia,129719719,126527060,1.1M,115.0,0.0252,0.0162,10
10,Mexico,129388467,128455567,1.9M,67.0,0.0073,0.0162,11